/* BEM config */
$namespace: 'u' !default;
$element-separator: '-'  !default;
$modifier-separator: '-' !default;
$state-prefix: 'is-' !default;

/* 全局变量 ---*/
$primary-color: #298dff;
$form-component-height: 32px;
$input-height-base: 32px;
$input-height-large: 36px;
$input-height-small: 24px;
$border-color-base: #d7dde4; // outside
$border-color-split: #f7f7f7; // inside
$input-disabled-color: #999;
$background-color-select-hover: #eaf5ff;
$selected-color: lighten($primary-color, 10%);
$font-size-small: 12px;
$font-size-base: 14px;


$select-primary-color: $primary-color !default; 

/* select var -------------------------------- */
$select-font-size-base: 14px !default;
$select-text-color: #333 !default;
$select-padding-base: 8px !default;
$select-border-color: #d7dde4 !default;
$select-box-shadow-width: 2px;
$select-height-default: 28px !default;
$select-height-large: 36px !default;
$select-height-small: 24px !default;
$select-border-width: 1px !default;
$select-vertical-align: middle !default;
$select-placeholder-font-size: 12px !default;
$select-placeholder-color: #c3cbd6 !default;


/* select-head var -------------------------------- */
$select-head-bg-default: #fff !default;
$select-head-bg-disabled: #f7f7f7 !default;
$select-head-bg-readonly: $select-head-bg-default !default;
$select-head-font-size: $font-size-small !default;
$select-head-icon-size: $font-size-small !default;
$select-head-icon-color: #9ea7b4 !default;
$select-head-input-padding: 0;
$select-head-input-color: $select-text-color !default;
$select-head-input-font-size: $font-size-small !default;
$select-head-border:1px solid $border-color-base !default;
$select-head-border-radius: 4px !default;

/* select-head-icon var -------------------------------- */
$select-icon-arrow-right: 8px !default;
$select-icon-clear-size: 16px !default;
$select-icon-clear-right: 24px !default;

/* select-head-multiple-tag-------------------*/
$select-tag-font-size: 12px !default;
$select-tag-height: 22px !default;
$select-tag-width-max: 88px !default;
$select-tag-border: 1px solid #d9d9d9 !default;
$select-tag-border-radius: 2px !default;
$select-tag-space: 4px !default;
$select-tag-padding-left: $select-tag-space !default;
$select-tag-padding-right: $select-tag-font-size + $select-tag-space * 2!default;
$select-tag-background: #f5f5f5 !default;
$select-tag-close-color: #999 !default;

/* select-option var -------------------------------- */
$select-option-height: 28px !default;
$select-option-font-size: 12px !default;
$select-option-font-color: $select-text-color !default; // TODO text-color
$select-option-font-color-disabled: #c3cbd6 !default; // TODO text-color
$select-option-hover-color: $background-color-select-hover !default; // TODO
$select-option-selected-color: $selected-color !default;
$select-option-selected-bg: #f7f7f7 !default; // 只在单选下生效
$select-option-hlight: red !default;
$select-group-text-color: #999 !default;

/* select-dropdown ------------------------- */
$select-dropdown-show-num: 7 !default;
$select-dropdown-padding: $select-padding-base !default;
$select-dropdown-height-max: $select-option-height * $select-dropdown-show-num !default;
$select-dropdown-font-color: $select-text-color !default; // TODO text-color
$select-dropdown-margin: 5px 0 !default;
$select-dropdown-background-color: #fff !default;
$select-dropdown-zindex: 1000 !default;





// from input.scss
@mixin hover($color: $primary-color) {
  border-color: mix(#fff, $color, 20%);
}

// 激活时显示，边框与高亮阴影
@mixin active-border($color: #298dff, $shadow-width: 2px ) {
  border: 1px solid $color;
  box-shadow: 0 0 0 $shadow-width rgba($color, 0.2);
  outline: 0;
}

@mixin disabled() {
  background-color: $select-head-bg-disabled;
  color: $input-disabled-color;
  opacity: 1;
  cursor: not-allowed;
  overflow: hidden;
  &:hover {
    @include hover($primary-color);
  }
}

@mixin readonly() {
  background-color: $select-head-bg-readonly;
  cursor: default;
  overflow: hidden;

  &:hover {
    @include hover($primary-color);
  }
}

@mixin placeholder($color: $select-placeholder-color) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color: $color;
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin size($select, $input-height, $font-size: $font-size-small) {
  height: $input-height;

  #{$select}-input {
    height: $input-height;
    line-height: $input-height;
  }

  #{$select}-selection {
    height: $input-height;
    line-height: $input-height;
  }

  #{$select}-placeholder,
  #{$select}-selected-value {
    height: $input-height - 2px;
    line-height: $input-height - 2px;
    font-size: $font-size;
  }
}

@mixin align($select, $align: left) {
  #{$select}-head,
  is-single {
    #{$select}-placeholder,
    #{$select}-selected-value {
      text-align: $align;
    }

    #{$select}-input {
      text-align: $align;
    }
  }
}

/* Scrollbar-------------------------- */
@mixin select-scroll-bar {
  $--scrollbar-thumb-background: #b4bccc;
  $--scrollbar-track-background: transparent;
  $--scrollbar-track-hover-background: rbga(#333333, 1);
  $--scrollbar-width: 10px;
  $--scrollbar-zindex: 1000;
  $--scrollbar-border-radius: 5px;

  &::-webkit-scrollbar {
    width: $--scrollbar-width;
    z-index: $--scrollbar-zindex;

    &:horizontal {
      height: $--scrollbar-width;
    }

    &-thumb {
      border-radius: $--scrollbar-border-radius;
      width: $--scrollbar-width;
      background: rgba($--scrollbar-thumb-background, 0.7);
      border-style: dashed;
      border-color: transparent;
      border-width: 2px;
      background-clip: padding-box;
    }

    &-thumb:hover {
      background: rgba($--scrollbar-thumb-background, 1);
    }

    &-corner {
      background: $--scrollbar-track-background;
    }

    &-track {
      background: $--scrollbar-track-background;
      &-piece {
        background: $--scrollbar-track-background;
        width: $--scrollbar-width;
      }
    }
  }
}
