* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $font-family;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $layout-body-color;
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}
