
$css-prefix: 'u-';

$tag-height: 22px;
$tag-line-height: 22px;
$tag-margin: 4px 0px 2px 4px;
$tag-padding: 0 8px;
$border-color-base: #D7DDE4;
$btn-border-radius-small: 3px;
$background-color-base: #f7f7f7;
$tag-background: #F5F5F5;
$tag-font-size: 12px;
$tag-i-margin-left:4px;
$text-color: #495060;
$tag-dot-height:32px;
$tag-dot-line-height:32px;
$tag-dot-background:#fff;
$tag-dot-padding:0 12px;
$tag-dot-inner-width:12px;
$tag-dot-inner-height:12px;
$tag-dot-inner-margin-right:8px;
$tag-dot-inner-border-radius:50%;
$tag-dot-inner-top:9px;
$tag-dot-tag-close-color:#666;
$tag-dot-tag-close-margin-left:12px;
$tag-border-height:24px;
$tag-border-line-height:24px;
$tag-border-background:#fff;
$tag-border-tag-close-color:#666;
$tag-border-tag-close-margin-left:12px;
$tag-border-after-top:0;
$tag-border-after-bottom:0;
$tag-border-after-right:22px;
$link-color: #298DFF;
$success-color: #1ABE6B;
$warning-color: #FF9901 ;
$error-color: #F5222D;
$tag-text-a-margin:0 -8px;
$tag-text-a-padding:0 8px;
$tag-close-hover-color:#fff;