.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("./assets/background.png") no-repeat;
  background-size: 100% 100%;
}

.lottie {
  width: 845px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px - 24px - 48px;
}

.hundsun-logo{
  width: 80px;
  height: 48px;
}


.form {
  width: 330px;
  height: 500px;
  padding: 24px 32px 53px 32px;
  border-radius: 12px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translateY(-51%);

  &.full-items {
    padding-top: 40px;
    padding-bottom: 39px;
  }
}

.welcome {
  font-family: "PingFangSC-Medium";
  font-size: 16px;
  color: #999999;
  letter-spacing: 0;
}

.title {
  font-family: "PingFangSC-Semibold";
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  letter-spacing: 1px;
  line-height: 40px;
}

.tenant {
  min-height: 38px;
  max-height: 120px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  left: 41px;
  right: 0;
  top: 47px;
  font-size: 12px;
  line-height: 28px;
  color: #333333;
  cursor: pointer;

  li.option {
    padding: 5px 10px;

    &:hover,
    &.hover {
      background-color: #eeeeee;
    }
  }
}

.checkcode,
.emailcheckcode {
  width: 100px;
  height: 36px;
  border-radius: 4px;
  position: absolute;
  z-index: 9;
  top: 4px;
  right: 15px;
  cursor: pointer;
}

.checkcode {
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.emailcheckcode {
  p {
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    color: #333333;
    &:hover {
      color: #2f80fa;
    }
  }
}

.tip {
  padding: 5px 0;
  position: absolute;
  z-index: 9;
  top: 45px;
  left: 10px;

  /deep/ .arrow {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    border: solid transparent;
    border-width: 0 5px 5px;
    border-bottom-color: #f5222d;
    margin-left: -5px;
  }

  /deep/ .inner {
    border-radius: 2px;
    padding: 2px 8px;
    background-color: #f5222d;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }
}

.form /deep/ .h-form {
  margin-top: 30px;
  margin-right: 16px;

  .h-form-item {
    height: 42px;
    margin-bottom: 12px;
  }

  .h-input-group-prepend {
    width: 41px;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 1px #eeeeee;
    border-right: 0;
  }

  .h-input {
    height: 42px;
    padding-left: 0;
    border-radius: 0 42px 42px 0;
    border: solid 1px #eeeeee;
    border-left: 0;
    color: #333333;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.submit /deep/ .h-btn {
  width: 100%;
  height: 44px;
  background-image: linear-gradient(147deg, #2F80FA 0%, #7480FF 100%);
  border-radius: 23px;
  color: #ffffff;

  &:focus {
    outline: none;
  }

  span {
    font-family: "PingFangSC-Regular";
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 7px;
    margin-right: -7px;
  }
}
